:root {
  --section-gap: 160px;

  --color-gray: #D0DAE6;
  --color-white: #ffffff;

  --color-background: var(--color-white);
  --color-header-background: #0C2B51;
  --color-text: #0C2B51;
  --color-text-light: #4D7AB2;
  --color-hover: hsla(213, 74%, 18%, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
